
.line-chart-selection-symbol {
    stroke-width: 2px;
    fill: transparent;
}

.line-chart-selection-line {
    stroke-width: .3px;
}

.line-chart-tooltip {
    display: inline-block;
    position: absolute;
    direction: rtl;
    background: #e8edf0;
    padding: 5px;
    border-radius: 4px;
    border: solid 1px #dfe3e6;
}